body {
    background-color: rgb(250, 229, 233);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}

header { 
    grid-area: header;
    font-size: 38px;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}

nav { 
    grid-area: nav;

    & ul {  
        max-width: 7rem;
        list-style-type: none;
        display: block;
        justify-items: center;
        
        & li {
            border: solid 1px #f9d7dd;
            padding: 1rem;
            background-color: hotpink;
            &:hover {
                background-color:#ff9daf;
            }
            
            & a {
                text-decoration: none;
            }
        }
    }
}

section {
    margin-inline: auto;
}

/*
=================================================================
HOME
=================================================================
*/

.home {
    max-width: 1300px;
    display: grid;
    grid-template-columns: 10rem 1fr;
    grid-template-rows: 8rem 1fr 1.5fr;
    text-align: center;
    grid-template-areas:
        "... header"
        "nav home"
        "... event";
}
.home-pic {
    grid-area: home;
    margin-inline: 10%;

    & img{
       max-width: 100%;
    }
}

.event { 
    grid-area: event;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin-inline: 10%;

    &-card{
        background-color: #f9d7dd;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;

        &:hover {
            background-color: #fdc6d0;
        }

        & > * {
            margin-bottom: 10px;
        }

        
        & span {
            margin-left: 10px;
        }

        & img {
            max-width: 100%;
            align-self: center;
        }

        & button {
            max-width: 100px;
            background-color: #f9d7dd;
            border: 1px solid #ff9daf;
            margin-top: 3px;
            margin-bottom: 3px;
            transition-duration: 0.4s;

            &:hover {
                background-color: #ff9daf;
            }
        }

        & .info1 {
            display: none;
        }

        & a {
            text-decoration: none;

            &:visited, :link {
                color: black;
            }
            &:hover {
                color: grey;
            }
        }
    }
}

// @media (min-width: )


/*
================================================================
ALL EVENTS
================================================================
*/

.events-page {
    max-width: 1300px;
    display: grid;
    grid-template-columns: 10rem 1fr;
    grid-template-rows: 10rem 1fr;
    grid-template-areas: 
        "... header"
        "nav events"
        "... events"; 
}

.all-events {
    grid-area: events;
    max-width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin-left: auto;
    margin-right: auto;
}
/*
=================================================================
EVENT X
=================================================================
*/

.event-x-page {
    max-width: 1300px;
    display: grid;
    grid-template-columns: 10rem 1fr;
    grid-template-rows: 10rem 1fr;
    grid-template-areas: 
        "... header"
        "nav eventX"
        "... eventX"; 
}

.event-x {
    grid-area: eventX;

    &-text {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        & > * {
            margin-bottom: 1rem;
            font-size: large;
            font-weight: 800;
        }
    }

    &-pics {
        display: flex;

        & img {
            max-width: 200px;
        }
    }
}



/*
=================================================================
ADD EVENT
=================================================================
*/

.add-page {
    max-width: 1300px;
    display: grid;
    grid-template-columns: 10rem 1fr;
    grid-template-rows: 10rem 1fr;
    grid-template-areas: 
        "... header"
        "nav add"
        "... add"; 
}

.add {
    grid-area: add;
}
.add-form {
    background-color: #fdc6d0;
    padding: 5rem;

    & input:not(:last-child), 
    select {
        margin-bottom: 3rem;
        margin-left: 3rem;
        width: 15rem; 
    }

    & #description:placeholder {
        vertical-align: top;
    }

    & label {
        display: inline-block;
        text-align: left;
        width: 8rem;
        vertical-align: top;
        font-weight: 800;
    }

    & #description {
        height: 5rem;
    }

    & #agenda {
        height: 5rem;
    }

    & #photos-div {
       display: flex;
    }

    & .photos {
        max-width: 3.5rem;
    }

}

/*
=================================================================
ABOUT
=================================================================
*/

.about-page {
    max-width: 1300px;
    display: grid;
    grid-template-columns: 10rem 1fr;
    grid-template-rows: 10rem 1fr;
    grid-template-areas: 
        "... header"
        "nav about"
        "... about"; 

    & #about-header {
        font-size: 40px;
    }
}

.about {
    grid-area: about;

   & .vd {
        display: grid;
        grid-template-columns: 20% 1fr;
        grid-template-areas:
            "image text";

        & img {
            grid-area: image;
            max-width: 10rem;
            margin-bottom: 1rem;
        }

        &-text {
            grid-area: text;
            margin-left: 1rem;
            display: flex;
            flex-direction: column;
            & a {
                margin-top: 0.4rem;
            }
        }
    }

    & .team img {
        max-width: 50rem;
    }

    & #contact {
        background-color: #fdc6d0;
        max-width: 46rem;
        padding: 2rem;
        display: grid;
        grid-template-columns: 20% 1fr;
        grid-template-rows: 1fr 1fr 1.8fr 1fr;
        grid-template-areas: 
            "labelName inputName"
            "labelMail inputMail"
            "labelMsg inputMsg"
            "........ submit";

        &-name-label {
            grid-area: labelName;
        }
        &-mail-label {
            grid-area: labelMail;
        }
        &-message-label {
            grid-area: labelMsg;
        }
        &-name {
            grid-area: inputName;
            height: 1.8rem;
            margin-right: 15rem;
        }
        &-mail {
            grid-area: inputMail;
            height: 1.8rem;
            margin-right: 15rem;
        }
        &-message {
            grid-area: inputMsg;
            height: 5rem;
            margin-right: 15rem;
        }
        &-submit {
            grid-area: submit;
            background-color: #ff9daf;
            height: 3rem;
            margin-right: 15rem;
        }

    }
}