body {
  background-color: #fae5e9;
  color: rgb(37, 36, 36);
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

header {
  grid-area: header;
  font-size: 38px;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2 {
  font-family: "Josefin Sans", sans-serif;
}

nav {
  grid-area: nav;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
}
nav ul {
  width: 10rem;
  list-style-type: none;
  display: block;
}
nav ul li {
  border-bottom: solid 1px #f9d7dd;
  padding: 1rem;
  background-image: linear-gradient(to right, hotpink, #ff9daf, #fae5e9);
}
nav ul li:hover {
  background-image: linear-gradient(to right, #ff9daf, #fae5e9);
}
nav ul li a {
  text-decoration: none;
}

main {
  max-width: 1300px;
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: 1fr 8fr;
  grid-template-areas: "... header" "nav section";
}

section {
  margin-inline: auto;
  grid-area: section;
}

/*
=================================================================
HOME (& event-cards for allEvents)
=================================================================
*/
.event {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 1rem;
  margin-inline: 10%;
  grid-template-areas: "homePic" "cards";
}
.event .home-pic {
  grid-area: homePic;
}
.event .home-pic img {
  max-width: 100%;
  border-radius: 15%;
}
.event .cards {
  grid-area: cards;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}
.event-card {
  background-color: #f9d7dd;
  display: flex;
  flex-direction: column;
}
.event-card:hover {
  background-color: #fdc6d0;
}
.event-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  align-self: center;
}
.event-card-text {
  margin-inline: 10px;
}
.event-card-text > * {
  margin-bottom: 10px;
}
.event-card-text span {
  font-size: small;
}
.event-card-text-name {
  font-size: 24px;
}
.event-card-text .info {
  display: none;
}
.event-card-text button {
  max-width: 100px;
  background-color: #f9d7dd;
  border: 1px solid #ff9daf;
  margin-top: 15px;
  margin-bottom: 3px;
  transition-duration: 0.4s;
  font-family: "Nunito", sans-serif;
  color: black;
  cursor: pointer;
}
.event-card-text button:hover {
  background-color: #ff9daf;
}
.event-card-text a {
  text-decoration: none;
  margin-bottom: 10px;
}
.event-card-text a:visited, .event-card-text a :link {
  color: rgb(82, 82, 82);
}
.event-card-text a:hover {
  color: rgb(122, 109, 109);
}

/*
================================================================
ALL EVENTS
================================================================
*/
.all-events {
  max-width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
  margin-inline: auto;
}

/*
=================================================================
EVENT X
=================================================================
*/
.event-x {
  margin-bottom: 10rem;
  margin-left: 8rem;
}
.event-x-text {
  display: flex;
  flex-direction: column;
  max-width: 25rem;
}
.event-x-text p {
  margin: 0.5rem;
  padding: 5px;
  font-size: large;
  font-weight: 500;
}
.event-x-text img {
  width: 150px;
  border-radius: 10%;
}
.event-x-text span {
  font-size: small;
}
.event-x-text details, .event-x-text summary {
  margin: 0.5rem;
  padding: 5px;
  font-size: large;
  font-weight: 500;
  cursor: pointer;
}
.event-x-text .info {
  font-style: italic;
}
.event-x-pics {
  display: flex;
  flex-wrap: wrap;
}
.event-x-pics img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 5px;
  transition: transform 0.5s;
}
.event-x-pics img:hover {
  transform: scale(1.5);
}

/*
=================================================================
ADD EVENT
=================================================================
*/
.add-form {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 0.5fr 0.5fr 1fr 1fr 1fr 0.5fr 0.5fr;
  background-color: #fdc6d0;
  padding: 5rem;
  grid-template-areas: "nameLabel nameInput" "dateLabel dateInput" "descriptLabel descriptInput" "agendaLabel agendaInput" "photosLabel photosDiv" "categoryLabel categoryInput" "submit submit";
}
.add-form input,
.add-form select {
  margin: 0.5rem 1rem 0 0;
}
.add-form label {
  text-align: left;
  width: 10rem;
  font-weight: 800;
}
.add-form #name-label {
  grid-area: nameLabel;
}
.add-form #name {
  grid-area: nameInput;
  height: 1.5rem;
}
.add-form #date-label {
  grid-area: dateLabel;
}
.add-form #date {
  grid-area: dateInput;
  height: 1.5rem;
}
.add-form #description-label {
  grid-area: descriptLabel;
}
.add-form #description {
  grid-area: descriptInput;
  height: 5rem;
}
.add-form #agenda-label {
  grid-area: agendaLabel;
}
.add-form #agenda {
  grid-area: agendaInput;
  height: 5rem;
}
.add-form #photos-label {
  grid-area: photosLabel;
}
.add-form #photos-div {
  grid-area: photosDiv;
  display: flex;
  flex-direction: column;
}
.add-form #category-label {
  grid-area: categoryLabel;
}
.add-form #category {
  grid-area: categoryInput;
  height: 1.5rem;
}
.add-form #submit {
  grid-area: submit;
  width: 8rem;
  background-color: #ff9daf;
  height: 3rem;
  margin-inline: auto;
}

/*
=================================================================
ABOUT
=================================================================
*/
.about .vd {
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-areas: "image text";
}
.about .vd img {
  grid-area: image;
  max-width: 10rem;
  margin-bottom: 1rem;
}
.about .vd-text {
  grid-area: text;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}
.about .vd-text a {
  margin-top: 0.4rem;
}
.about .team img {
  max-width: 50rem;
}
.about #contact {
  background-color: #fdc6d0;
  max-width: 46rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 1fr 1fr 1.8fr 1fr;
  grid-template-areas: "labelName inputName" "labelMail inputMail" "labelMsg inputMsg" "........ submit";
}
.about #contact-name-label {
  grid-area: labelName;
}
.about #contact-mail-label {
  grid-area: labelMail;
}
.about #contact-message-label {
  grid-area: labelMsg;
}
.about #contact-name {
  grid-area: inputName;
  height: 1.8rem;
  margin-right: 15rem;
}
.about #contact-mail {
  grid-area: inputMail;
  height: 1.8rem;
  margin-right: 15rem;
}
.about #contact-message {
  grid-area: inputMsg;
  height: 5rem;
  margin-right: 15rem;
}
.about #contact-submit {
  grid-area: submit;
  background-color: #ff9daf;
  height: 3rem;
  margin-right: 15rem;
}
.about-form-answer {
  background-color: #fdc6d0;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-form-answer p {
  font-size: large;
  background-color: #ff9daf;
  align-self: center;
  height: 5rem;
  width: 15rem;
  margin-top: 1rem;
  border-radius: 3rem;
  padding: 1rem;
  text-align: center;
}
.about-form-answer img {
  height: 13rem;
  width: 20rem;
  align-self: center;
}

/*# sourceMappingURL=styles.css.map */
