body {
    background-color: #fae5e9;
    color: rgb(110, 110, 110);
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

header { 
    grid-area: header;
    font-size: 38px;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}

h1, h2 {
    font-family: 'Josefin Sans', sans-serif;
}

nav { 
    grid-area: nav;
    font-family: 'Josefin Sans', sans-serif;
    font-weight:700;

    & ul {  
        width: 10rem;
        list-style-type: none;
        display: block;
        
        & li {
            border-bottom: solid 1px #f9d7dd;
            padding: 1rem;
            background-image: linear-gradient(to right, hotpink, #ff9daf, #fae5e9);
            &:hover {
                background-image:linear-gradient(to right, #ff9daf, #fae5e9);
            }
            
            & a {
                text-decoration: none;
            }
        }
    }
}
main {
    max-width: 1300px;
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 1fr 8fr;
    grid-template-areas:
        "... header"
        "nav section"
        "... section";
}

section {
    margin-inline: auto;
    grid-area: section;
}

/*
=================================================================
HOME (& event-cards for allEvents)
=================================================================
*/

.event { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin-inline: 10%;
    grid-template-areas: 
        "homePic homePic homePic"
        "cards cards cards"
        "cards cards cards";

    & .home-pic {
        grid-area: homePic;
    
        & img{
           max-width: 100%;
        }
    }
    & .cards {
        grid-area: cards;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }

        &-card{
            
            background-color: #f9d7dd;
            display: flex;
            flex-direction: column;

            &:hover {
                background-color: #fdc6d0;
            }
            & img {
                width:100%;
                height: 150px;
                object-fit: cover;
                align-self: center;
            }
            &-text {
                margin-inline: 10px;

                & > * {
                    margin-bottom: 5px;
                }
                & span {
                    font-size: small;
                }
                &-name {
                    font-size: larger;
                    text-decoration: underline grey;
                }
                & .info {
                    display: none;
                }
                & button {
                    max-width: 100px;
                    background-color: #f9d7dd;
                    border: 1px solid #ff9daf;
                    margin-top: 8px;
                    margin-bottom: 3px;
                    transition-duration: 0.4s;
                    font-family: 'Nunito', sans-serif;
                    color: black;
        
                    &:hover {
                        background-color: #ff9daf;
                    }
                }
                & a {
                    text-decoration: none;
                    margin-bottom: 10px;
        
                    &:visited, :link {
                        color: rgb(82, 82, 82);
                    }
                    &:hover {
                        color: rgb(142, 138, 138);
                    }
                }
            }       
        }
}
@media (max-width: 1000px) {
    .home {
        grid-template-rows: 0.2fr 1fr 3fr;
    }
   .event {
        grid-template-columns: 1fr 1fr;

   }
}


/*
================================================================
ALL EVENTS
================================================================
*/

.all-events {
    max-width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin-inline: auto;
}
/*
=================================================================
EVENT X
=================================================================
*/

.event-x {
    
    margin-bottom: 10rem;
    margin-left: 8rem;

    &-text {
        display: flex;
        flex-direction: column;
        max-width: 25rem;
        & p {
            margin: 0.5rem;
            padding: 5px;
            font-size: large;
            font-weight: 500;
        }
        & img {
            width: 150px;
            border-radius: 10%;
        }
        & span {
            font-size: small;
        }
        & .info {
            font-style: italic;
        }
    }

    &-pics {
        display: flex;
        flex-wrap: wrap;
        
        & img {
            width: 150px;
            height: 150px;
            object-fit: cover;
            margin-right: 5px;
            transition: transform 0.5s;

            &:hover {
                transform: scale(1.5);
            }
        }
    }
}

/*
=================================================================
ADD EVENT
=================================================================
*/

.add-form {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 0.5fr 0.5fr 1fr 1fr 1fr 0.5fr 0.5fr;
    background-color: #fdc6d0;
    padding: 5rem;
    grid-template-areas: 
        "nameLabel nameInput"
        "dateLabel dateInput"
        "descriptLabel descriptInput"
        "agendaLabel agendaInput"
        "photosLabel photosDiv"
        "categoryLabel categoryInput"
        "submit submit";

    & input, 
    select { 
        margin: 0.5rem 1rem 0 0;
    }
    & label {
        text-align: left;
        width: 10rem;
        font-weight: 800;
    }
    & #name-label {
        grid-area: nameLabel;
    }
    & #name {
        grid-area: nameInput;
        height: 1.5rem;
    }
    & #date-label {
        grid-area: dateLabel;
    }
    & #date {
        grid-area: dateInput;
        height: 1.5rem;
    }
    & #description-label {
        grid-area: descriptLabel;
    }
    & #description {
        grid-area: descriptInput;
        height: 5rem;
    }
    & #agenda-label {
        grid-area: agendaLabel;
    }
    & #agenda {
        grid-area: agendaInput;
        height: 5rem;
    }
    & #photos-label {
        grid-area: photosLabel;
    }
    & #photos-div {
        grid-area: photosDiv;
        display: flex;
        flex-direction: column;
    }
    & #category-label {
        grid-area: categoryLabel;
    }
    & #category {
        grid-area: categoryInput;
        height: 1.5rem;
    }
    & #submit {
        grid-area: submit;
        width: 8rem;
        background-color: #ff9daf;
        height: 3rem;
        margin-inline: auto;
    }
}

/*
=================================================================
ABOUT
=================================================================
*/

.about {

   & .vd {
        display: grid;
        grid-template-columns: 20% 1fr;
        grid-template-areas:
            "image text";

        & img {
            grid-area: image;
            max-width: 10rem;
            margin-bottom: 1rem;
        }

        &-text {
            grid-area: text;
            margin-left: 1rem;
            display: flex;
            flex-direction: column;
            & a {
                margin-top: 0.4rem;
            }
        }
    }

    & .team img {
        max-width: 50rem;
    }

    & #contact {
        background-color: #fdc6d0;
        max-width: 46rem;
        padding: 2rem;
        display: grid;
        grid-template-columns: 20% 1fr;
        grid-template-rows: 1fr 1fr 1.8fr 1fr;
        grid-template-areas: 
            "labelName inputName"
            "labelMail inputMail"
            "labelMsg inputMsg"
            "........ submit";

        &-name-label {
            grid-area: labelName;
        }
        &-mail-label {
            grid-area: labelMail;
        }
        &-message-label {
            grid-area: labelMsg;
        }
        &-name {
            grid-area: inputName;
            height: 1.8rem;
            margin-right: 15rem;
        }
        &-mail {
            grid-area: inputMail;
            height: 1.8rem;
            margin-right: 15rem;
        }
        &-message {
            grid-area: inputMsg;
            height: 5rem;
            margin-right: 15rem;
        }
        &-submit {
            grid-area: submit;
            background-color: #ff9daf;
            height: 3rem;
            margin-right: 15rem;
        }

    }
    &-form-answer {
        background-color: #fdc6d0;
        height: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        & p {
            font-size: large;
            background-color: #ff9daf;
            align-self: center;
            height: 5rem;
            width: 15rem;
            margin-top: 1rem;
            border-radius: 3rem;
            padding: 1rem;
            text-align: center;

        }
        & img {
            height: 13rem;
            width: 20rem;
            align-self: center;
        }
    }
}